.container {
  text-align: center;
  color: blue;
}
table {
  text-align: center;
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  height: 50px;
}
.w_90 {
  width: 90%;
}
.width_75 {
  width: 75%;
}
.w_80 {
  width: 80%;
}
.w3_60 {
  width: 60%;
}
.w_40 {
  width: 40%;
}
.w_33 {
  width: 33.33%;
}
.w_28 {
  width: 28%;
}
.h47_200 {
  height: 200px;
}
